.App-title {
  font-size: 1.5em;
}

.out__text {
  color: #fff;
  font-size: 54px;
  line-height: 66px;
  fill: #fff;
  font-weight: bolder;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative; 
}

.content {
  display: inline-block;
  background: #fff;
  border-radius: 16px;
}

.out {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 16px;
  padding-bottom: 16px;
  line-height: 72px;
}
